.container{
    min-width: 280px;
    height: 350px;
    flex: 1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(246, 249, 255);
    position: relative;
}

.circle{

}
.container img{
    
    height: 75%;
    
}
.info{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: all 0.5s ease;
}  
.container:hover .info{
    opacity: 1;
} 
.icon{
    color: black;
    margin: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
}
.icon:hover{
    background-color: #e9f5f5;
    transform: scale(1.1);
}